<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarUser</servlet-name>
        <servlet-class>servlets.SeleccionarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarTeamsServlet</servlet-name>
        <servlet-class>servlets.SeleccionarTeamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarPlayersServlet</servlet-name>
        <servlet-class>servlets.SeleccionarPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarSchoolsServlet</servlet-name>
        <servlet-class>servlets.SeleccionarSchoolsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPerfilServlet</servlet-name>
        <servlet-class>servlets.ModificarPerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarUser</servlet-name>
        <url-pattern>/SeleccionarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarTeamsServlet</servlet-name>
        <url-pattern>/SeleccionarTeamsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarCoachesServlet</servlet-name>
        <url-pattern>/SeleccionarCoachesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarPlayersServlet</servlet-name>
        <url-pattern>/SeleccionarPlayersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarSchoolsServlet</servlet-name>
        <url-pattern>/SeleccionarSchoolsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPerfilServlet</servlet-name>
        <url-pattern>/ModificarPerfilServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
